$colors-secondary: #333;
$colors-primary: whitesmoke;
$colors-dark: #2b2b2b;
$border-container: 20px;
$border-button: 12px;
$padding-container: 12px;
$box-shadow-conainer: 30px 30px 60px #dadada, -30px -30px 60px #ffffff;
$box-shadow-conainer-m: 12px 12px 16px #dadada, -12px -12px 16px #ffffff;
$box-shadow-conainer-dark: 12px 12px 20px #202020, -12px -12px 20px #363636;

@mixin stylecontainer($flex-d) {
  display: flex;
  flex-direction: $flex-d;
  align-items: center;
  box-shadow: $box-shadow-conainer;
  padding: $padding-container;
  border-radius: $border-container;
  color: $colors-secondary;
}

@mixin stylecontainer-m($flex-d) {
  display: flex;
  flex-direction: $flex-d;
  align-items: center;
  box-shadow: $box-shadow-conainer-m;
  padding: $padding-container;
  border-radius: $border-container;
  color: $colors-secondary;
}

@mixin stylebutton($with, $height) {
  height: $height;
  width: $with !important;
  border: none;
  box-shadow: $box-shadow-conainer-m;
  border-radius: $border-button;
  padding: 4px 8px;
  margin: 8px 4px;
}

@mixin flex($direc, $jcontent) {
  display: flex;
  flex-direction: $direc;
  justify-content: $jcontent;
  align-items: center;
}

@mixin stylebuttonCart($with, $height) {
  height: $height !important;
  width: $with !important;
  border: none;
  box-shadow: $box-shadow-conainer-dark;
  border-radius: $border-button;
  margin: 4px;
}
